if ARCH_PICOXCELL

comment "Picochip SoC device support"

config PICOXCELL_PC3X2
	bool "Support PC3x2 devices"
	default y
	help
	  Include support for picoChip PC3x2 family of devices. This
	  includes PC302 and PC312.

config PICOXCELL_PC3X3
	bool "Support PC3x3 devices"
	default y
	help
	  Include support for picoChip PC3x3 family of devices. This includes
	  PC313, PC323 and PC333.

comment "Picochip picoXcell device configuration"

config PC3X3_STOP_WDT_IN_SUSPEND
	bool "Disable watchdog timer in suspend (PC3X3)"
	depends on PICOXCELL_PC3X3
	help
	  Say yes to pause the watchdog timer when in suspend mode on PC3X3
	  devices.  This will prevent the watchdog from rebooting the device
	  when suspend is entered.

comment "Picochip picoXcell board selection"

config BOARD_PC7302
	bool "Support PC7302 Board"
	default y
	help
          Include support for the picoChip PC7302 platform. This platform is
	  can take any of the PC3X2 or PC3X3 devices and includes SPI NOR
	  flash, parallel NOR flash and NAND flash.

endif
